@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Sonsie One' sans-serif;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

::selection {
  background: rgb(0, 123, 255, 0.3);
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 150%;
  padding: 30px 0;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 10px 0;
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
  display: flex;
  align-items: flex-end;
  padding-right: 20%;
  justify-content: space-between;
 flex-direction: row;
 align-items: flex-end;
 flex-wrap: nowrap;
}

.navbar .logo {
font-family: 'Sonsie One',
cursive;
font-size: 40px;
font-weight: 500;
text-decoration: none;
text-shadow: rgb(56, 56, 56) -8px 2px;
}

.logo :hover{
position: relative;
color: #ffd900;
}
.navbar .menu-list {
  display: inline-flex;
  align-items:flex-start;
  justify-content: left;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  margin-left: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #e2c628;
}

/* .banner {
  height: 100vh;
  background: url("banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about {
  padding: 40px 0;
}

.about .title {
  font-size: 35px;
  font-weight: 700;
}

.about p {
  padding-top: 20px;
  text-align: justify;
} */

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.navbar.sticky .icon.cancel-btn {
  top: 10px;
}

